{% extends 'base_foot.html' %}

{% block head %}
<script>
	$(function () {
		$('#username').blur(function () {
			$('#username').next().hide()
        })
		$('#pwd').blur(function () {
			$('#pwd').next().hide()
        })
		$('#jizhu').click(function () {
		    if($('#jizhu').prop('checked')){
		        $.cookie('jizhu',true,{expires:7,path:'/'})
			}
			else{
		        $.cookie('jizhu',false,{expires:7,path:'/'})
			}
        })

		/*
		 问题:无论cookie为何值，checkbox状态均不改变 10/18/21
		 解决时间：10/19/9
		 cookie返回值中的true何false都是str类型的不能直接作为boolean参与判断
		 check移除操作使用.pror时发现无效果，可能与JQuery版本有关，换成attr和removeAttr
		 */
		if($.cookie('jizhu')=='true'){
		    $('#jizhu').attr('checked','checked');

			if($.cookie('login_name')){
			/*未完成功能：记住用户名
			* 	此处已经获取记住用户名信息
			* 1.input需要改写autocomplete已完成已用户名的呈现*/
			}
		}
		else{
		    $('#jizhu').removeAttr('checked');
		}

    })
</script>
{% endblock head %}

{% block body %}
	<div class="login_top clearfix">
		<a href="../df_goods/index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
				<div class="form_input">



					<form id="log_form" action="/user/login/login_check/" method="post" autocomplete="off"  >
						<input type="text" id="username" name="username" class="name_input" placeholder="请输入用户名"
							   value="{{login_name|default:''}}">
						<div class="user_error">输入错误</div>
						<input type="password" id="pwd" name="pwd" class="pass_input" placeholder="请输入密码" value="{{login_pwd|default:''}}" >
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input id="jizhu" type="checkbox" name="jizhu" checked="checked">
							<label >记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

{%if error_name or error_pwd %}
					<script>
						$('#username').next().show()
						$('#pwd').next().show()
					</script>
					{%endif%}
{% endblock body %}

