{% extends 'base_search.html' %}

{% block search_frame%}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="user_center_info.html">· 个人信息</a></li>
				<li><a href="user_center_order.html" class="active">· 全部订单</a></li>
				<li><a href="user_center_site.html">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for uid in page %}

				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ uid.odata }}</li>
					<li class="col02">订单号: {{ uid.oid }}</li>
					<li class="col02 stress">{% if uid.oIsPay == True %}
                                    已支付
                                {% else %}
                                    已支付
                                {% endif %}</li>
				</ul>


				<table class="order_list_table w980">
					<tbody>
						<tr>

							<td width="55%">
                                {% for order_detail in uid.orderdetailinfo_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ order_detail.goods.gpic }}"></li>
									<li class="col02">{{ order_detail.goods.gtitle }}<em>{{ order_detail.goods.gprice }}元/{{ order_detail.goods.gunit }}</em></li>
									<li class="col03">{{ order_detail.count }}</li>
									<li class="col04">{{ order_detail.price }}元</li>
								</ul>
                                {% endfor %}
                            </td>

							<td width="15%">{{ uid.ototal }}元</td>
							<td width="15%">
                                {% if uid.oIsPay == True %}
                                    交易完成
                                {% else %}
                                    待付款
                                {% endif %}
                            </td>
							<td width="15%"><a href="javascript:pay({{ uid.oid }});" class="oper_btn">
                                {% if uid.oIsPay == True %}
                                    交易详情
                                {% else %}
                                    去付款
                                {% endif %}</a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}



{#                分页#}

				<div class="pagenation">
				{%if page.has_previous%}
				<a href="/user/order_{{page.number|add:'-1'}}/">上一页</a>
				{%endif%}

				{%for pages in page.paginator.page_range%}

				<a href="/user/order_{{pages}}/"
				   {%if pages == page.number%}
				   class="active"
				   {%endif%}
				>{{pages}}</a>

				{%endfor%}

				{%if page.has_next%}
				<a href="/user/order_{{page.number|add:'1'}}/">下一页</a>
				{%endif%}

			</div>


		</div>
	</div>
    <script>
    function pay(oid) {
        if($(this).text()=="去付款"){
            $.post('/order/pay/',{'oid':oid},function (data) {
            if(data.err == '1'){
                alert('支付成功')
            }else{
                alert('支付失败,请重试')
            }
            window.location.reload();
        })
        }else{
            alert('详情功能未开发')
        }
    }
    </script>
{% endblock search_frame%}