{% extends 'base_foot_top.html' %}
{% block body_frame%}
    <div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="/static/images/logo.png"></a>
        {%if page_style == 1 %}
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>
        {%endif%}
		<div class="search_con fl">
            <form method="get" action="/index/search/">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
        {%if page_style == 0 %}
        <div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
        {%endif%}
    <script>
    </script>
	</div>
{% block search_frame%}
{% endblock search_frame%}
{% endblock body_frame%}